body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

/* Скрытие кнопки уведомления до прочтения стиха */
#read-verse {
    display: block;
}
